@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nipunnavbar{
    height:50px;
    width:100%;
    /* border:2px solid red; */
    position:relative;
    display:flex;
    justify-content: center;
    border-bottom: 2px solid #F2F2F2 ;
}
.Nmain{
    height:100%;
    width:86%;
    /* border:2px solid green; */
    position: absolute;
    z-index: 1;
    display:flex;
    /* border-bottom: 0.2px solid #737373; */
}
.Nlisttools{
    height:100%;
    width:60%;
    /* border:2px solid black; */
    display:flex;
    flex-direction: row;
    align-items: center;
}
.Niconsofnavbar{
    height:100%;
    width:50%;
    /* border:2px solid blue; */
    display:flex;
    justify-content: right;
    align-items: center;

}
.Nfirstlist{
    display:flex;
    align-items: center;
    gap: 1.2rem;


}
li>a>img{
    height:50px;
    width: auto;
    cursor: pointer;
}
ul>li{
    list-style:none;
    /* color:#737373; */
    display:flex;
    align-items: center;
    /* font-size: medium; */
    cursor: pointer;
}
.Nfirstlist li :hover{
    color:#262626;
}
.Nfirstlist>li>a{
    text-decoration: none;
    color:#737373;
    font-size: medium;
    cursor: pointer;
}
.l_box{
    height: 25px;
    width: fit-content;
    display: flex;
    justify-content: center;
}
.l_box:hover{
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
li>select{
    border:none;
    color:#737373
}
li>select>option{
    padding-left: 0.7rem;
}
.Ninterview{
    font-size: medium;
    height: 35px;
    width:90px;
    /* border: 1px solid blueviolet; */
}
.Nstore{

    color:#FFA42C;
}
.Niconsofnavbar{
    display:flex;
    align-items: center;
    gap:1rem;
    justify-content: end;
    color:#737373
    
}
.pre{
    gap:1rem;
    display:flex;
    align-items: center;
}
.pre :hover{
    background-color: rgb(251, 228, 192);
    transition: 0.2s ease-in-out;
}
.Niconsofnavbar>a{
    color:#737373
}
.Niconsbutton{
    background-color: #FFF4E3;
    border:none;
    font-size: medium;
    color:#FFA42C;
    text-decoration: none;
    height :30px;
    width:80px;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
    font: italic;
}
.l_leetcode_store{
    height: 31rem;
    width: 100%;
    /* border: 2px solid maroon; */
    background: linear-gradient(to bottom left, #222222 15%, #373737 70%, #3c4859 94%);
}
.points{
    height: 3rem;
    width: 100%;
    /* border: 2px solid yellow; */
}
.points_box{
    height: 3rem;
    width: 12%;
    border: 1px solid black;
    margin-left: 82%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}
#coin_logo{
    margin-top: 4px;
    height: 30%;
    width: 9%;
    
}
#l_num{
    color: #FEA116;
}
.l_leetcode_logo{
    height: 10.5rem;
    width: 100%;
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#leetcode_banner{
    height: 90%;
    width: 80%;
}
.leetcode_name{
    height: 5.5rem;
    width: 100%;
    /* border: 2px solid yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.products{
    height: 4rem;
    width: 100%;
    /* border: 2px solid yellowgreen; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.l_buttons{
    height: 7rem;
    width: 100%;
    /* border: 2px solid brown; */
    display: flex;
    justify-content: center;
}
.buttons_div{
    height: 7rem;
    width: 52%;
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.redeem{
    height: 3.2rem;
    width: 7.5rem;
    border: 2px dotted white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    background-color: white;
}
.earn{
    height: 3.2rem;
    width: 12rem;
    border: 2px dotted white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.3rem;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#plus_icon{
color: white;
}
.premium{
    height: 3.2rem;
    width: 9rem;
    border: 2px dotted white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.3rem;
    border-radius: 35px;
}
.vieworder{
    height: 3.2rem;
    width: 11rem;
    border: 2px dotted white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.3rem;
    border-radius: 35px;
   
}
.store_letcode{
    height: 44rem;
    width: 100%;
    /* border: 2px solid pink; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #FAFAFA;
}
.store_1{
    /* height: 10%; */
    width: 80%;
    /* border: 2px solid grey; */
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}
.l_box_1{
    height: 95%;
    width: 23%;
    /* border: 2px solid blue; */
    margin-left: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}
.store_1{
    height: 40%;
    width: 100%;
    /* border: 2px solid grey; */
   
    
}
.display_box_1{
    height: 74%;
    width: 94%;
    /* border: 2px solid blue; */
   background-image: url(https://assets.leetcode.com/lc_store/time_travel_ticket/time_travel_ticket.png);
   background-position: center;
   background-size: cover;
   object-fit: cover;
   border-radius: 5px;
}
.des_l{
    height: 15%;
    width: 90%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img_background{
    width: 100%;
   height: fit-content;
}
.display_box_2{
    height: 70%;
    width: 90%;
    /* border: 2px solid blue; */
   background-image: url(https://assets.leetcode.com/lc_store/premium/premium.png);
   background-position: center;
   background-size: cover;
   object-fit: cover;
   border-radius: 5px;
}
.display_box_3{
    height: 70%;
    width: 90%;
    /* border: 2px solid blue; */
   background-image: url(https://assets.leetcode.com/lc_store/t_shirt_promo/t_shirt_promo.png);
   background-position: center;
   background-size: cover;
   object-fit: cover;
   border-radius: 5px;
}
.display_box_4{
    height: 70%;
    width: 90%;
    /* border: 2px solid blue; */
   background-image: url(https://assets.leetcode.com/lc_store/leetcode_kit/leetcode_kit_1640301367.png);
   background-position: center;
   background-size: cover;
   object-fit: cover;
   border-radius: 5px;
}
.display_box_5{
    height: 70%;
    width: 90%;
    /* border: 2px solid blue; */
   background-image: url(https://assets.leetcode.com/lc_store/laptop_sleeve/laptop_sleeve_1626301432.png);
   background-position: center;
   background-size: cover;
   object-fit: cover;
   border-radius: 5px;
}
.display_box_6{
    height: 70%;
    width: 90%;
    /* border: 2px solid blue; */
   background-image: url(https://assets.leetcode.com/lc_store/notebook/notebook_1635289084.png);
   background-position: center;
   background-size: cover;
   object-fit: cover;
   border-radius: 5px;
}
.text{
    height: 100%;
    width: fit-content;
    /* padding: 5%; */
    /* border: 2px solid purple; */
}
.coins{
    height: 80%;
    width: fit-content;
    /* border: 2px solid maroon; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5CA8C;
    border-radius: 5px;
    padding: 0 10px 0 10px;
}
#coin_logo_2{
    height: 40%;
    width: 40%;
}
.redeem_code{
    height: 8rem;
    width: 100%;
    /* border: 2px solid violet; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.enter_text{
    height: 3.5rem;
    width: 35%;
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#input_taken{
    height: 2rem;
    width: 68%;
    border: 2px solid  #F0AD4E;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 20px;
}
#redeem_btn{
    height: 2rem;
    width: 19%;
    margin-left: -5px;
    color: white;
    background-color: #F0AD4E;
    border: 2px solid  #F0AD4E;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: 300;
}
.bottom{
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.inside{
    height: 100%;   
    width: 95%;
    border-top: 1px solid #EEEEEE ;
    display: flex;
    justify-content: space-around;
}
.list{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
   
}
a{
    text-decoration: none;
    color: black;
}
.flag_america{
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 100%;
}
.flag{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 100%;
    width: 10%;
}
.inside ul{
    gap: 1rem;
}

.copy{
    color: #757575;
    font-size: small;
}

.list_item{
    color: 424242;
    font-size: small;
}
.list_item1{
    font-size: small;
    display: flex;
}
.list_item:hover{
    color: black;
    text-decoration: underline;
}
.list_item1:hover{
    text-decoration: underline #1890FD;;
}
.points_box:hover{
    transform-style: easy;
    background-color: rgba(255, 255, 255, 0.5);
}
.earn:hover .earn_real{
    background-color: white;
    color: #FEA116;
    cursor: pointer;
}
.premium:hover .txt{
    background-color: white;
    color: #FEA116;
    cursor: pointer;
}
.premium:hover{
    background-color: white;
    color: #FEA116;
    cursor: pointer;
}
.vieworder:hover .txt{
    background-color: white;
    color: #FEA116;
    cursor: pointer;
}
.coins:hover{
   cursor: no-drop;
}
#redeem_btn:hover{
    cursor: pointer;
}
.txt{
    color: lightgray;
    font-weight: 300;
}
/* .txt:hover{
    color: #FEA116;
} */
.vieworder:hover{
    background-color: white;
    color: #FEA116;
    cursor: pointer;
}
.earn_real{
    color: lightgray;
}
.earn:hover{
    background-color: white;
    color: #FEA116;
    cursor: pointer;
}